*{
    height: 100%;
    width: 100%;
}
html, body{
    background-color: aliceblue;
    
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{ 
    width:50%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 
    flex-direction: column;
    
}

#btn1, #btn2{
    width: 100px;
    height: 50px;
    border: 1px none ;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
#btn3{
    width: 100px;
    height: 50px;
    border: 1px none ;
    border-radius: 5px;
    background-color: red;
    color: white;
}

@media (max-width: 500px) {
    #box {
        width: 16rem;
        height: 12rem;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .border {
        gap: 1.5rem;
    }
}