.container {
  text-align: center;
  margin-top: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 3px solid red;
  padding: 12px;
  font-weight: bold;
  font-size: large;
}

.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;

  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;

  z-index: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: darkred transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
