*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap:2%;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(135deg,gray, darkslategrey,grey);
}
.box1,.box2, .box3{
    height: 50vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: grey -5px 10px 10px;
    align-items: center;
    background-color: darkslategrey;
    padding: 1%;
    color: white;
    text-align: center;
    margin: 1%;
    
    padding : 30px;
    justify-content: space-evenly;
    background: linear-gradient(135deg,gray, darkslategrey);
    
}

img{
    border: 1px solid transparent;
    border-radius: 50%;
    height: 10vh;
    object-fit: cover;
}

.box1:hover{
    background: purple;
    transform : scale(1.07);
        transition : transform 0.3s ease-in-out;
        color: black
}
.box2:hover{
    background: silver;
    transform : scale(1.07);
        transition : transform 0.3s ease-in-out;
        color: black
}
.box3:hover{
    background:  gold;
    transform : scale(1.07);
        transition : transform 0.3s ease-in-out;
        color: black
}

@media(max-width: 768px){
    .parent{
        flex-direction: column;
        height: auto;
        gap: 1.2rem
    }
    .box1, .box2, .box3{
        width: 60%;
        height: auto;
    }
}